*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 550px;
    background: #948E99;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(284, 11%, 47%, 0.644), hsla(274, 52%, 29%, 0.411)), url(../img/port1.jpg);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(284, 11%, 47%, 0.644), hsla(274, 52%, 29%, 0.411)), url(../img/port1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.textos-header h1{
    font-size: 75px;
    color: #fff;

}
.textos-header h2{
    font-size: 15px;
    font-weight: 300;
    color: #fff;

}

.titulo{
    color: #b65b1e;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;

}


.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;

}
.imagen-about-us{
    width: 48%;

}
.sobre-nosotros .contenido-textos{
    width: 48%;

}

.contenido-textos h3{
    margin-bottom: 15px;

}
.contenido-textos h3 span{
    background: #463318;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}


/*Galery*/
.portafolio{
    background: #f2f2f2;

}
.galery-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.imag-port{
    width: 24%;
    margin-bottom: 10px;
    height: 180px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);

}
.imag-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galery{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(22, 78%, 20%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.hover-galery p{
    color: #fff;

}
.imag-port:hover .hover-galery{
    transform: scale(1);

}

/*cord*/
.cards{
    display: flex;
    justify-content: space-evenly;

}
.cards .card{
    background: #b65b1e;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;

}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;

}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;

}

/*servi*/

.b-example-divider {
    height: 3rem;
    background-color: rgba(214, 209, 209, 0);
    border: solid rgba(230, 228, 228, 0);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, 0), inset 0 .125em .5em rgba(0, 0, 0, 0);
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }

  .icon-link {
    display: inline-flex;
    align-items: center;
  }
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }

  .icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
  }

  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: 1rem; }

  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }


/*Footer*/
footer{
    background: #fff ;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}
.contenedor-footer{
     display: grid;
     width: 100%;
     grid-template-columns: repeat(3, 1fr);
     grid-gap:50px;
     padding: 45px 0px;
     margin: auto;
     border-bottom: 1px solid #bebac2;

}
.content-foo img{
    width: 250px;

}
.content-foo{
    text-align: center;

}
.content-foo h4{
    color: #3d3941;
    border-bottom: 3px solid #362e17;
    padding-bottom: 5px;
    margin-bottom: 10px;

}
.content-foo p{
    color: #3d3941;


}
.sociales{
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;

 }
 .sociales li{
   display:inline-block;
 }
 .sociales a{
     padding: 1px;
 }
.content-foo .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #f2f2f2;
    margin-right: 10px;
    background-color: #552243;
    text-align: center;
    transition: all 300ms ease;

}
.content-foo .red-social a:hover{
    color: rgb(0, 38, 255);
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;

}

/*Noticias*/
*{
    margin: 0;
    padding: 0;
}
  .contenedor-sobre-servi{
      width: 100%;
      max-width: 1200px;
      height: 430px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
  }
  .sobre-servi .card{
      width: 330px;
      height: 430px;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: all 0.25s;
  }

.sobre-servi .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.sobre-servi .card img{
    width: 330px;
    height: 220px;
}
.sobre-servi .card h4{
    font-weight: 600;
}
.sobre-servi .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.sobre-servi .card a{
    font-weight: 500;
    text-decoration: none;
    color: #30182e;
}



/*------------------------*/
.redes{
      padding: 20px;


  }
  .sociales{
     text-align: left;
     padding: 30px;

  }
  .sociales li{
    display:inline-block;
    margin-top: 100px;

  }
  .sociales a{
      padding: 4px;

  }
  .texto-contacto p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;

  }
  .texto-contacto h2,h3{

    font-family: 'Times New Roman', Times, serif;
  }
  .texto-form b{

    font-family: 'Times New Roman', Times, serif;
  }
  .texto-footer{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  }



  .sobre-nosotros{
      font-size: 15px;
      font-family: 'Times New Roman', Times, serif;
      margin: 100px;

    }

  .sobre-nosotros b{

    text-transform: uppercase;

  }
.sobre-n1{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 100px;
    text-align: justify;
}
.sobre-n1 b{
    font-size: 25px;
    text-transform: uppercase;
}
.sobre-mision{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.sobre-vision{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 50px;
  margin-bottom: 100px;
  text-align: center;
}
.biblioteca{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    color: black;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 12px;
    background-color: gainsboro;
}
.presentacion{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;


}
